.card{
	border: 1px solid #D4CDF8;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #000;
	margin: 5px;
	display: inline-block;
	text-align: center;
    width: 100px;
    transition: 0.7s;
    position: relative;
    bottom:0;
}
.card:hover{
	transition: 0.7s;
	box-shadow: 0px 0px 5px 2px #6970F8;
	transform: scale(1.1);
}
.card p:nth-child(2){display: none;transition: 0.7s;position: relative;}
.card:hover p:nth-child(2){display: block;transition: 0.7s}
p{margin: 0}